.swal-button {
  background-color: #0069ff;
}
.swal-button:hover {
  background-color: #0069ff;
}
.swal-icon {
  filter: saturate(5);
}

input {
  padding: 10px;
}
#spaceNav {
  display: none;
  width: 100%;
  z-index: 100000;
  background-color: red;
  height: 100px;
}
